{% extends "base/base.html" %}

{% load humanize %}

{% block title %}Inicio{% endblock %}

{% block content %}
    <div class="container-fluid mt-2">
        <h2>Últimos agregados</h2>
        <div class="d-md-flex gap-2 overflow-x-auto">
            {% comment %} Aqui van los productos {% endcomment %}
            {% for producto in productos %}
                <div class="col-12 col-md-4 col-lg-3 mb-3">
                    <a class="card text-decoration-none" href="{% url 'producto' %}" style="height: 315px;">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-1 text-muted">{{producto.marca}}</h6>
                            <h4 class="card-title">{{producto.nombre}}</h4>
                            <h5 class="card-subtitle mb-2 text-muted ">{{producto.categoria}}</h5>
                            <p class="card-text">
                                {% for caract in producto.caracteristicas|slice:":3" %}
                                    {{caract.caracteristica}}: {{caract.descripcion_caract}}<br>
                                {% endfor %}
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <p class="card-text">Precio:</p>
                                <p class="card-text">${{producto.precio|intcomma}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% comment %} Aqui terminan los productos {% endcomment %}
        </div>
    </div>
{% endblock %}