{% extends "base/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Producto{% endblock %}

{% block content %}
    <div class="container-fluid py-2">
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="card mb-1">
                    <img src="{% static "img/celular.jpg" %}" class="card-img object-fit-cover" alt="Producto" width="300" height="300">
                </div>
            </div>
            <div class="col-12 col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-subtitle text-muted">{{producto.categoria}}</h4>
                        <h2 class="card-title">{{producto.nombre}}</h2>
                    </div>
                    <div class="card-body">
                        <p>Stock: {{producto.stock}}</p>
                        <p class="card-text">
                            Marca: {{producto.marca}}<br>
                            {% for caract in producto.caracteristicas %}
                                {{caract.caracteristica}}: {{caract.descripcion_caract}}<br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
